<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ethan.emsp.infrastructure.persistence.query.mapper.ConnectorQueryMapper">

    <select id="selectByEvseIds"
            resultType="com.ethan.emsp.infrastructure.persistence.event.po.ConnectorViewPO">
        SELECT *
        FROM db_connector_view
        WHERE evse_id IN
        <foreach item="item" collection="evseIds" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>
</mapper>
