<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ethan.emsp.infrastructure.persistence.query.mapper.LocationQueryMapper">

    <select id="selectByLastUpdated"
            resultType="com.ethan.emsp.infrastructure.persistence.event.po.LocationViewPO">
        SELECT *
        FROM db_location_view
        <where>
            <if test="queryDto.lastUpdatedStart != null">
                AND updated_at &gt;= #{queryDto.lastUpdatedStart}
            </if>
            <if test="queryDto.lastUpdatedEnd != null">
                AND updated_at &lt;= #{queryDto.lastUpdatedEnd}
            </if>
        </where>
        order by updated_at desc
    </select>
    <select id="findById" resultType="com.ethan.emsp.infrastructure.persistence.query.bo.LocationQueryBO">
        SELECT *
        FROM db_location_view
        WHERE location_id = #{locationId}
    </select>
</mapper>
