<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ethan.emsp.infrastructure.persistence.domain.mapper.ConnectorCmdMapper">
    <insert id="insertBatch">
        INSERT INTO db_connector (id, evse_id, type, voltage, amperage, power, standard)
        VALUES
        <foreach item="connector" collection="connectorList" separator=",">
            (
            #{connector.id},
            #{connector.evseId},
            #{connector.type},
            #{connector.voltage},
            #{connector.amperage},
            #{connector.power},
            #{connector.standard}
            )
        </foreach>
    </insert>
    <delete id="deleteByEvseId">
        DELETE
        FROM db_connector
        WHERE evse_id = #{evseId}
    </delete>
    <select id="selectByEvseId" resultType="com.ethan.emsp.infrastructure.persistence.domain.po.ConnectorPO">
        SELECT *
        FROM db_connector
        WHERE evse_id = #{evseId}
    </select>
</mapper>
