<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ethan.emsp.infrastructure.persistence.cmd.mapper.LocationCmdMapper">

    <select id="findByName" resultType="com.ethan.emsp.infrastructure.persistence.cmd.po.LocationPO">
        SELECT *
        FROM location
        WHERE name = #{name}
    </select>

</mapper>
